.App {
  text-align: center;
  background-color: white;
}

.header {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 50px;  
  align-items: center;
  padding: 0px 50px;
  color: #318CE7;
}

.App-link {
  color: #0039a6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




