.App {
  text-align: center;
  background-color: white;
  font-family: 'Fjalla One', sans-serif;
}

.header {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 50px;  
  align-items: center;
  padding: 0px 50px;
  color: #318CE7;
}

.App-link {
  color: #0039a6;
}

.create-contact {
  align-items: flex-start;
}




